In [6]:
import sqlalchemy

sqlalchemy.__version__

'1.3.3'

In [7]:
import pandas as pd

pd.__version__

'0.24.2'

In [2]:
%env MYSQL_USER=superheroadmin
%env MYSQL_PASSWORD=Passw0rd.
%env MYSQL_HOST_IP=localhost
%env MYSQL_PORT=3306

env: MYSQL_USER=superheroadmin
env: MYSQL_PASSWORD=Passw0rd.
env: MYSQL_HOST_IP=localhost
env: MYSQL_PORT=3306

In [3]:
import os
from sqlalchemy import create_engine

db_name = 'superheroes'

connection_uri = ('mysql+mysqlconnector://' +
                  os.environ['MYSQL_USER'] + ':' +
                  os.environ['MYSQL_PASSWORD'] + '@' +
                  os.environ['MYSQL_HOST_IP'] + ':' +
                  os.environ['MYSQL_PORT'] + '/' + db_name)

In [8]:
engine = sqlalchemy.create_engine(connection_uri, echo=False)

In [9]:
pd.read_sql('SELECT * FROM heroes where eye_color="Red";', engine, index_col='id')

,name,identity,birth_place,publisher,height,weight,gender,first_appearance,eye_color,hair_color,strength,intelligence
id,,,,,,,,,,,,
21,Zoom,Hunter Zolomon,None,DC Comics,185.90,81.93,M,NaN,Red,Brown,10.0,average
43,Wonder Man,Simon Williams,"Paterson, New Jersey",Marvel Comics,188.90,171.57,M,NaN,Red,Black,100.0,good
45,Warlock,Adam Warlock,"The Beehive, Shard Island, Atlantic Ocean",Marvel Comics,188.22,108.14,M,NaN,Red,Blond,40.0,high
53,Vision II,Vision,Place of birth unknown,Marvel Comics,191.39,135.51,None,NaN,Red,No Hair,NaN,None
71,Ultron,Ultron,"Created in Cresskill, New Jersey",Marvel Comics,206.90,331.61,M,1968.0,Red,None,85.0,high
92,Thanos,Thanos,Titan,Marvel Comics,201.26,443.19,M,NaN,Red,No Hair,100.0,high
99,T-800,Cyberdyne Systems Series 800 Terminator Model 101,None,Dark Horse Comics,NaN,176.28,M,1984.0,Red,None,35.0,good
100,T-850,Cyberdyne Systems Series 850 Terminator,None,Dark Horse Comics,NaN,198.72,M,2003.0,Red,None,80.0,good
104,Swamp Thing,Alec Holland,None,DC Comics,NaN,NaN,M,1972.0,Red,No Hair,95.0,high
115,Steppenwolf,None,None,DC Comics,183.36,91.04,M,NaN,Red,Black,100.0,high
126,Spider-Woman IV,Charlotte Witter,None,Marvel Comics,178.09,58.78,F,NaN,Red,White,NaN,None
160,Shadow King,Amahl Farouk,None,Marvel Comics,185.48,149.19,None,1979.0,Red,None,15.0,good
173,Sasquatch,Walter Langkowski,"Edmonton, Alberta, Canada",Marvel Comics,305.02,900.70,M,NaN,Red,Orange,80.0,good
246,Onslaught,Onslaught,None,Marvel Comics,305.41,405.08,M,1996.0,Red,No Hair,100.0,high
249,Omega Red,Arkady Gregorivich,None,Marvel Comics,211.79,191.40,M,NaN,Red,Blond,NaN,None
288,Mister Sinister,Nathaniel Essex,"London, England",Marvel Comics,196.89,128.37,M,1987.0,Red,Black,50.0,high
295,Miss Martian,M'gann M'orzz,Mars,DC Comics,178.49,61.25,F,2006.0,Red,Red,85.0,good
316,Martian Manhunter,J'onn J'onzz,None,DC Comics,201.86,135.18,M,1955.0,Red,No Hair,95.0,high
322,Machine Man,"X-51, Aaron Stack","Central City, California",Marvel Comics,183.42,383.81,None,NaN,Red,Black,35.0,good
323,Man-Thing,Dr. Theodore Sallis,None,Marvel Comics,213.38,225.60,M,1971.0,Red,No Hair,35.0,average
335,Lobo,Lobo,None,DC Comics,229.40,288.82,M,NaN,Red,Black,100.0,high
352,Klaw,Ulysses Klaw,"Vlaardingen, Netherlands",Marvel Comics,188.61,97.99,M,1966.0,Red,No Hair,40.0,good
355,Lizard,Curtis Connors,"Coral Gables, Florida",Marvel Comics,203.53,230.60,M,NaN,Red,No Hair,55.0,average
359,Kilowog,None,Bolovax Vik,DC Comics,234.39,324.10,M,1986.0,Red,No Hair,90.0,high
360,Killer Croc,Waylon Jones,None,DC Comics,244.58,356.55,M,1983.0,Red,No Hair,55.0,low
374,Jubilee,Jubilation Lee,"Beverly Hills, California",Marvel Comics,165.92,52.34,F,1989.0,Red,Black,10.0,average
430,Hellstorm,Daimon Hellstrom,"Greentown, Massachusetts",Marvel Comics,185.02,81.45,M,NaN,Red,Red,60.0,good
438,Hawk,Henry Hall,None,DC Comics,185.91,89.40,M,1968.0,Red,Brown,40.0,moderate
469,Gambit,Remy Etienne LeBeau,"New Orleans, Louisiana",Marvel Comics,185.55,81.57,M,2006.0,Red,Brown,10.0,good
470,Ghost Rider,Johnny Blaze,"Waukegan, Illinois",Marvel Comics,188.51,99.20,M,1972.0,Red,No Hair,55.0,average
484,Fixer,Paul Norbert Ebersol,"Dayton, Ohio",Marvel Comics,NaN,NaN,None,NaN,Red,No Hair,NaN,None
488,Fin Fang Foom,None,None,Marvel Comics,975.37,19.00,M,NaN,Red,No Hair,85.0,average
499,Evilhawk,Dargin Bokk,None,Marvel Comics,191.25,106.78,M,1992.0,Red,Black,35.0,average
502,Etrigan,Jason Blood,Hell,DC Comics,193.76,203.50,M,1972.0,Red,No Hair,85.0,average
511,Drax the Destroyer,Arthur Sampson Douglas,"Burbank, California",Marvel Comics,193.01,306.42,M,1973.0,Red,No Hair,80.0,average
513,Doomsday,Doomsday,Krypton,DC Comics,244.01,412.67,M,1992.0,Red,White,100.0,good
526,Demogoblin,None,None,Marvel Comics,185.05,95.29,M,1992.0,Red,No Hair,50.0,average
540,Darkseid,Uxas,None,DC Comics,267.37,817.57,M,1970.0,Red,No Hair,100.0,high
556,Copycat,Vanessa Carlysle,None,Marvel Comics,183.47,67.55,F,1991.0,Red,White,10.0,average
581,Captain Planet,None,None,Marvel Comics,NaN,NaN,M,NaN,Red,Green,90.0,average
628,Blackwulf,Lucian,Armechadon,Marvel Comics,188.17,88.64,M,1994.0,Red,White,30.0,average
631,Blackout,None,None,Marvel Comics,191.20,104.09,M,1990.0,Red,White,35.0,good
644,Black Abbott,None,None,Marvel Comics,NaN,NaN,M,1984.0,Red,Black,NaN,None
700,Apocalypse,En Sabah Nur,"Akkaba, Egypt",Marvel Comics,213.77,135.62,M,1986.0,Red,Black,100.0,high
715,Amazo,None,None,DC Comics,257.49,173.95,M,1960.0,Red,None,100.0,good

In [10]:
engine = create_engine('mysql+mysqlconnector://orm:Passw0rd.@localhost:3306/ORM',
                       echo=False)

In [36]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [37]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    fullname = Column(String(250))
    nickname = Column(String(100))

    def __repr__(self):
        return "<User(name='{}', fullname='{}', nickname='{}')>".format(
                            self.name, self.fullname, self.nickname)

In [38]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=100), table=<users>), Column('fullname', String(length=250), table=<users>), Column('nickname', String(length=100), table=<users>), schema=None)

In [39]:
Base.metadata.create_all(engine)

In [40]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')

In [41]:
(ed_user.name, ed_user.nickname)

('ed', 'edsnickname')

In [42]:
str(ed_user.id)

'None'

In [43]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [44]:
session.add(ed_user)

In [45]:
our_user = session.query(User).filter_by(name='ed').first() 
our_user

In [46]:
ed_user is our_user

True

In [47]:
session.add_all([
     User(name='wendy', fullname='Wendy Williams', nickname='windy'),
     User(name='mary', fullname='Mary Contrary', nickname='mary'),
     User(name='fred', fullname='Fred Flintstone', nickname='freddy')])

In [48]:
ed_user.nickname = 'eddie'

In [49]:
session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', nickname='eddie')>])

In [50]:
session.new

IdentitySet([<User(name='wendy', fullname='Wendy Williams', nickname='windy')>, <User(name='mary', fullname='Mary Contrary', nickname='mary')>, <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>])

In [51]:
session.commit()

In [52]:
ed_user.id

39

In [53]:
ed_user.name = 'Edwardo'
fake_user = User(name='fakeuser', fullname='Invalid', nickname='12345')
session.add(fake_user)

In [54]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

[<User(name='Edwardo', fullname='Ed Jones', nickname='eddie')>,
 <User(name='fakeuser', fullname='Invalid', nickname='12345')>]

In [55]:
session.rollback()

In [56]:
ed_user.name

'ed'

In [57]:
fake_user in session

False

In [58]:
session.query(User).filter(User.name.in_(['ed', 'fakeuser'])).all()

In [59]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flintstone

In [60]:
for name, fullname in session.query(User.name, User.fullname):
    print(name, fullname)

ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flintstone

In [61]:
for row in session.query(User, User.name).all():
    print(row.User, row.name)

<User(name='ed', fullname='Ed Jones', nickname='eddie')> ed
<User(name='wendy', fullname='Wendy Williams', nickname='windy')> wendy
<User(name='mary', fullname='Mary Contrary', nickname='mary')> mary
<User(name='fred', fullname='Fred Flintstone', nickname='freddy')> fred

In [62]:
for u in session.query(User).order_by(User.id)[1:3]:
    print(u)

<User(name='wendy', fullname='Wendy Williams', nickname='windy')>
<User(name='mary', fullname='Mary Contrary', nickname='mary')>

In [63]:
for name, in session.query(User.name).filter_by(fullname='Ed Jones'):
    print(name)

ed

In [64]:
for user in session.query(User).\
                    filter(User.name=='ed').\
                    filter(User.fullname=='Ed Jones'):
    print(user)

<User(name='ed', fullname='Ed Jones', nickname='eddie')>

In [65]:
for user in session.query(User).filter(User.name.like('%ed%')):
    print(user)

<User(name='ed', fullname='Ed Jones', nickname='eddie')>
<User(name='fred', fullname='Fred Flintstone', nickname='freddy')>

In [66]:
for user in session.query(User).filter(User.name == None):
    print(user)

In [67]:
query = session.query(User).filter(User.name.like('%ed')).order_by(User.id)
query.all()

[<User(name='ed', fullname='Ed Jones', nickname='eddie')>,
 <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>]

In [68]:
query.first()

In [69]:
session.query(User).filter(User.name.like('%ed')).count()

2

In [70]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Address(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    email_address = Column(String(200), nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return "<Address(email_address='{}')>".format(self.email_address)

User.addresses = relationship(
    "Address", order_by=Address.id, back_populates="user")

In [71]:
Base.metadata.create_all(engine)

In [72]:
jack = User(name='jack', fullname='Jack Bean', nickname='gjffdd')
jack.addresses

[]

In [73]:
jack.addresses = [Address(email_address='jack@google.com'),
                  Address(email_address='j25@yahoo.com')]

In [74]:
session.add(jack)
session.commit()

In [75]:
jack = session.query(User).filter_by(name='jack').one()
jack

In [76]:
jack.addresses

[<Address(email_address='jack@google.com')>,
 <Address(email_address='j25@yahoo.com')>]

In [77]:
(session.query(User).join(Address)
        .filter(Address.email_address=='jack@google.com')
        .all())

In [78]:
engine = sqlalchemy.create_engine('mysql+mysqlconnector://superheroadmin:Passw0rd.@localhost:3306/superheroes',
                                  echo=False)

In [79]:
from sqlalchemy import Column, Integer, Float, String

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

class Hero(Base):
    __tablename__ = 'heroes'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    identity = Column(String(100))
    birth_place = Column(String(100))
    publisher = Column(String(100))
    height = Column(Float)
    weight = Column(Float)
    gender = Column(String(1))
    first_appearance = Column(Integer)
    eye_color = Column(String(10))
    hair_color = Column(String(10))
    strength = Column(Float)
    intelligence = Column(String(20))

    def __repr__(self):
        return "<{} aka {}>".format(self.name, self.identity)

In [80]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [81]:
query = session.query(Hero)

In [82]:
query[:10]

[<Wonder Woman aka Diana Prince>,
 <Wolverine aka Logan>,
 <Spider-Man aka Peter Parker>,
 <Professor X aka Charles Francis Xavier>,
 <A-Bomb aka Richard Milhouse Jones>,
 <Abraxas aka Abraxas>,
 <Abomination aka Emil Blonsky>,
 <Adam Monroe aka None>,
 <Agent 13 aka Sharon Carter>,
 <Air-Walker aka Gabriel Lan>]

In [41]:
# query.all()

In [83]:
for h in session.query(Hero).filter(Hero.first_appearance==1960):
    print(h)

<Trickster aka Giovanni Giuseppe>
<Kid Flash aka Wallace Rudolph West>
<Groot aka Groot>
<Flash III aka Wally West>
<Elongated Man aka Ralph Dibny>
<Clock King aka William Tockman>
<Aqualad aka Garth>
<Amazo aka None>

In [85]:
for h in (session.query(Hero).filter(Hero.first_appearance==1960)
                             .filter(Hero.eye_color=='Green')):
    print(h)

<Kid Flash aka Wallace Rudolph West>

In [86]:
from sqlalchemy import and_, or_

for h in session.query(Hero).filter(and_(Hero.first_appearance==1960,
                                         Hero.eye_color=='Green')):
    print(h)

<Kid Flash aka Wallace Rudolph West>

In [87]:
for h in session.query(Hero).filter(or_(Hero.first_appearance==1960,
                                        Hero.eye_color=='Green')):
    print(h)

<Abomination aka Emil Blonsky>
<X-23 aka Laura Kinney>
<Wolfsbane aka Rahne Sinclair>
<Vanisher aka None>
<Triton aka Triton>
<Tigra aka Greer Grant Nelson>
<Thundra aka Thundra>
<Trickster aka Giovanni Giuseppe>
<Starfire aka Koriand'r>
<Spider-Woman aka Jessica Drew>
<Speedy aka Thea Queen>
<Songbird aka Melissa Joan Gold>
<Skaar aka None>
<Scorpia aka Elaine Coll>
<Rogue aka Anna Marie>
<Robin VI aka Carrie Kelley>
<She-Hulk aka Jennifer Walters>
<Ripcord aka Miranda Leevald>
<Red Tornado aka John Smith>
<Red Arrow aka Roy Harper>
<Ray aka Ray Terrill>
<Ra's Al Ghul aka Ra's Al Ghul>
<Proto-Goblin aka Nels Van Adder>
<Polaris aka Lorna Dane>
<Poison Ivy aka Pamela Isley>
<Plantman aka Samuel Smithers>
<Phoenix aka Jean Grey>
<Metallo aka John Corben>
<Medusa aka Medusalith Amaquelin Boltagon>
<Marvel Girl aka Rachel Anne Summers>
<Mantis aka None>
<Lyja aka Lyja>
<Loki aka Loki Laufeyson>
<Lex Luthor aka Lex Luthor>
<Leader aka Samuel Sterns>
<Kyle Rayner aka Kyle Rayner>
<Kid Flash aka Wallace Rudolph West>
<Joker aka Jack Napier>
<John Stewart aka John Stewart>
<Jyn Erso aka Jyn Erso>
<Jessica Cruz aka Jessica Cruz>
<Jean Grey aka Jean Grey>
<Hope Summers aka Hope Summers>
<Hulk aka Bruce Banner>
<Hela aka None>
<Hawkwoman aka Shayera Hol>
<Harry Potter aka Harry James Potter>
<Hawkgirl aka Kendra Saunders>
<Green Goblin IV aka Phillip Benjamin Urich>
<Groot aka Groot>
<Goblin Queen aka Madelyne Jennifer Pryor>
<Giganta aka Doris Zuel>
<Green Arrow aka Oliver Queen>
<Flash III aka Wally West>
<Firestar aka Angelica Jones>
<Elongated Man aka Ralph Dibny>
<Donatello aka None>
<Clock King aka William Tockman>
<Citizen Steel aka Nathan Heywood>
<Crystal aka Crystallia Amaquelin>
<Cheetah aka Priscilla Rich>
<Cheetah II aka Deborah Domaine>
<Catwoman aka Selina Kyle>
<Carnage aka Cletus Kasady>
<Brainiac 5 aka Querl Dox>
<Brainiac aka Vril Dox>
<Buffy aka Buffy Anne Summers>
<Blink aka Clarice Ferguson>
<Black Mamba aka Tanya Sealy>
<Black Widow aka Natasha Romanoff>
<Black Cat aka Felicia Hardy>
<Beast Boy aka Garfield Mark Logan>
<Batwoman V aka Katherine Rebecca Kane>
<Batgirl aka Barbara Gordon>
<Banshee aka Sean Cassidy>
<Batgirl IV aka Cassandra Cain>
<Aqualad aka Garth>
<Annihilus aka Annihilus>
<Amazo aka None>

In [88]:
for h in (session.query(Hero)
                 .filter(Hero.name.contains('Woman'))
                 .order_by(Hero.first_appearance)):
    print(h)

<Spider-Woman IV aka Charlotte Witter>
<Spider-Woman II aka None>
<Invisible Woman aka Susan Storm Richards>
<Hawkwoman II aka Sharon Parker>
<Hawkwoman III aka Shayera Thal>
<Catwoman aka Selina Kyle>
<Bionic Woman aka Jamie Sommers>
<Wonder Woman aka Diana Prince>
<Hawkwoman aka Shayera Hol>
<Spider-Woman aka Jessica Drew>
<Spider-Woman III aka Martha Franklin>
<Batwoman V aka Katherine Rebecca Kane>

In [89]:
for h in session.query(Hero).filter(Hero.name.like('%xy%')):
    print(h)

<Mister Mxyzptlk aka Mr. Mxyzptlk>

In [90]:
from sqlalchemy.sql.expression import func

for h in session.query(Hero).filter(func.length(Hero.name)==17):
    print(h)

<Scarlet Spider II aka Kaine Parker>
<Martian Manhunter aka J'onn J'onzz>
<Kraven the Hunter aka Sergei Kravinoff>
<Franklin Richards aka Franklin  Richards>
<Captain Marvel II aka Frederick Christopher Freeman>
<Captain Hindsight aka Jack Brolin>
<Alfred Pennyworth aka Alfred Thaddeus Crane Pennyworth>

In [91]:
def same_initials(name):
    try:
        if not name:
            return False
        name = ' '.join(name.split())
        words = name.split(' ')
        if len(words) == 1:
            return False
        initials = set([w[0] for w in words])
        return len(initials) == 1
    except IndexError:
        print('error with <{}>'.format(name))
        return False

[h for h in session.query(Hero).all() if same_initials(h.name)]

[<Wonder Woman aka Diana Prince>,
 <Wyatt Wingfoot aka Wyatt Wingfoot>,
 <Silver Surfer aka Norrin Radd>,
 <Silk Spectre aka Sally Juspeczyk>,
 <Sebastian Shaw aka Sebastian Hiram Shaw>,
 <Scarlet Spider aka Benjamin Reilly>,
 <Rocket Raccoon aka Rocket Raccoon>,
 <Red Robin aka Tim Drake>,
 <Peter Petrelli aka Peter Petrelli>,
 <Multiple Man aka James Arthur>,
 <Moses Magnum aka Moses Magnum>,
 <Molten Man aka Mark Raxton>,
 <Mister Mxyzptlk aka Mr. Mxyzptlk>,
 <Miss Martian aka M'gann M'orzz>,
 <Minna Murray aka Wilhelmina Harker>,
 <Martian Manhunter aka J'onn J'onzz>,
 <Machine Man aka X-51, Aaron Stack>,
 <Lightning Lad aka Garth Ranzz>,
 <Light Lass aka Ayla Ranzz>,
 <Lex Luthor aka Lex Luthor>,
 <Lightning Lord aka Mekt Ranzz>,
 <King Kong aka King Kong>,
 <Karate Kid aka Val Armorr>,
 <Jessica Jones aka Jessica Campbell Jones Cage>,
 <Guy Gardner aka Guy Gardner>,
 <Gorilla Grodd aka Grodd>,
 <Granny Goodness aka None>,
 <Green Goblin aka Norman Osborn>,
 <Fin Fang Foom aka None>,
 <Doctor Doom aka Victor von Doom>,
 <Crimson Crusader aka Rory Destine>,
 <Captain Cold aka Leonard Snart>,
 <Blue Beetle aka None>,
 <Black Bolt aka Blackagar Boltagon>,
 <Big Barda aka Barda Free>,
 <Beast Boy aka Garfield Mark Logan>]

In [92]:
[h for h in session.query(Hero).all()
 if same_initials(h.name)
 and same_initials(h.identity)]

[<Wyatt Wingfoot aka Wyatt Wingfoot>,
 <Rocket Raccoon aka Rocket Raccoon>,
 <Peter Petrelli aka Peter Petrelli>,
 <Moses Magnum aka Moses Magnum>,
 <Mister Mxyzptlk aka Mr. Mxyzptlk>,
 <Miss Martian aka M'gann M'orzz>,
 <Martian Manhunter aka J'onn J'onzz>,
 <Lex Luthor aka Lex Luthor>,
 <King Kong aka King Kong>,
 <Guy Gardner aka Guy Gardner>,
 <Black Bolt aka Blackagar Boltagon>]

In [93]:
for h in session.query(Hero.name, Hero.first_appearance)[:10]:
    print(h)

('Wonder Woman', 1941)
('Wolverine', None)
('Spider-Man', None)
('Professor X', 1963)
('A-Bomb', 2008)
('Abraxas', None)
('Abomination', None)
('Adam Monroe', None)
('Agent 13', None)
('Air-Walker', None)

In [94]:
q = session.query(Hero).filter(Hero.identity == None)
q.all()

[<Adam Monroe aka None>,
 <Abin Sur aka None>,
 <Angela aka None>,
 <Colin Wagner aka None>,
 <Yellow Claw aka None>,
 <Wondra aka None>,
 <White Canary aka None>,
 <Violator aka None>,
 <Vertigo II aka None>,
 <Valerie Hart aka None>,
 <Vanisher aka None>,
 <Utgard-Loki aka None>,
 <Trigon aka None>,
 <Titan aka None>,
 <Stormtrooper aka None>,
 <Stardust aka None>,
 <Steppenwolf aka None>,
 <Stacy X aka None>,
 <Spider-Woman II aka None>,
 <Snake-Eyes aka None>,
 <Skaar aka None>,
 <Shrinking Violet aka None>,
 <Rey aka None>,
 <Renata Soliz aka None>,
 <Rachel Pirzad aka None>,
 <Quantum aka None>,
 <Raphael aka None>,
 <Penance aka None>,
 <Penance I aka None>,
 <Parademon aka None>,
 <One-Above-All aka None>,
 <Nebula aka None>,
 <Nina Theroux aka None>,
 <Naruto Uzumaki aka None>,
 <Meteorite aka None>,
 <Michelangelo aka None>,
 <Mephisto aka None>,
 <Maxima aka None>,
 <Mantis aka None>,
 <Magus aka None>,
 <Man of Miracles aka None>,
 <Longshot aka None>,
 <Living Tribunal aka None>,
 <Leech aka None>,
 <Lady Bullseye aka None>,
 <Living Brain aka None>,
 <Kool-Aid Man aka None>,
 <Kilowog aka None>,
 <Junkpile aka None>,
 <K-2SO aka None>,
 <Jessica Sanders aka None>,
 <Hela aka None>,
 <Granny Goodness aka None>,
 <Gog aka None>,
 <Giant-Man II aka None>,
 <Forge aka None>,
 <Fin Fang Foom aka None>,
 <Fallen One II aka None>,
 <ERG-1 aka None>,
 <Elle Bishop aka None>,
 <Energy aka None>,
 <Donatello aka None>,
 <Doppelganger aka None>,
 <Destroyer aka None>,
 <Demogoblin aka None>,
 <Darkside aka None>,
 <Darth Maul aka None>,
 <Cy-Gor aka None>,
 <Danny Cooper aka None>,
 <Colossal Boy aka None>,
 <Cat II aka None>,
 <Century aka None>,
 <Captain Universe aka None>,
 <Captain Planet aka None>,
 <Captain Midnight aka None>,
 <Captain Epic aka None>,
 <Cameron Hicks aka None>,
 <Bumbleboy aka None>,
 <Boomer aka None>,
 <Bomb Queen aka None>,
 <Boba Fett aka None>,
 <Blue Beetle aka None>,
 <Blaquesmith aka None>,
 <Bolt aka None>,
 <Blackout aka None>,
 <Black Goliath aka None>,
 <Black Flash aka None>,
 <Black Abbott aka None>,
 <Bird-Brain aka None>,
 <Bill Harken aka None>,
 <Beetle aka None>,
 <Beyonder aka None>,
 <Azazel aka None>,
 <Atom aka None>,
 <Atlas aka None>,
 <Bane aka None>,
 <Ares aka None>,
 <Anti-Monitor aka None>,
 <Ammo aka None>,
 <Allan Quatermain aka None>,
 <Amazo aka None>]

In [95]:
for h in q.all():
    h.identity = h.name

In [96]:
session.dirty

IdentitySet([<Living Brain aka Living Brain>, <Danny Cooper aka Danny Cooper>, <Kool-Aid Man aka Kool-Aid Man>, <Colossal Boy aka Colossal Boy>, <Kilowog aka Kilowog>, <Cat II aka Cat II>, <Boba Fett aka Boba Fett>, <Junkpile aka Junkpile>, <Century aka Century>, <Blackout aka Blackout>, <Steppenwolf aka Steppenwolf>, <Captain Universe aka Captain Universe>, <Jessica Sanders aka Jessica Sanders>, <K-2SO aka K-2SO>, <Captain Planet aka Captain Planet>, <Blue Beetle aka Blue Beetle>, <Spider-Woman II aka Spider-Woman II>, <Stacy X aka Stacy X>, <Captain Midnight aka Captain Midnight>, <Hela aka Hela>, <Captain Epic aka Captain Epic>, <Gog aka Gog>, <Snake-Eyes aka Snake-Eyes>, <Cameron Hicks aka Cameron Hicks>, <Giant-Man II aka Giant-Man II>, <Adam Monroe aka Adam Monroe>, <Skaar aka Skaar>, <Bird-Brain aka Bird-Brain>, <Rey aka Rey>, <Forge aka Forge>, <Bumbleboy aka Bumbleboy>, <Fallen One II aka Fallen One II>, <Bill Harken aka Bill Harken>, <Shrinking Violet aka Shrinking Violet>, <Renata Soliz aka Renata Soliz>, <Abin Sur aka Abin Sur>, <Rachel Pirzad aka Rachel Pirzad>, <ERG-1 aka ERG-1>, <Beetle aka Beetle>, <Blaquesmith aka Blaquesmith>, <Beyonder aka Beyonder>, <Azazel aka Azazel>, <Mantis aka Mantis>, <Angela aka Angela>, <Raphael aka Raphael>, <Boomer aka Boomer>, <Colin Wagner aka Colin Wagner>, <Magus aka Magus>, <Bomb Queen aka Bomb Queen>, <Quantum aka Quantum>, <White Canary aka White Canary>, <Penance aka Penance>, <Wondra aka Wondra>, <Penance I aka Penance I>, <Yellow Claw aka Yellow Claw>, <Fin Fang Foom aka Fin Fang Foom>, <Atom aka Atom>, <Elle Bishop aka Elle Bishop>, <Violator aka Violator>, <Energy aka Energy>, <Atlas aka Atlas>, <Parademon aka Parademon>, <Man of Miracles aka Man of Miracles>, <Bolt aka Bolt>, <Vertigo II aka Vertigo II>, <Longshot aka Longshot>, <One-Above-All aka One-Above-All>, <Doppelganger aka Doppelganger>, <Bane aka Bane>, <Living Tribunal aka Living Tribunal>, <Donatello aka Donatello>, <Nebula aka Nebula>, <Black Flash aka Black Flash>, <Valerie Hart aka Valerie Hart>, <Ares aka Ares>, <Vanisher aka Vanisher>, <Nina Theroux aka Nina Theroux>, <Utgard-Loki aka Utgard-Loki>, <Destroyer aka Destroyer>, <Trigon aka Trigon>, <Granny Goodness aka Granny Goodness>, <Meteorite aka Meteorite>, <Naruto Uzumaki aka Naruto Uzumaki>, <Demogoblin aka Demogoblin>, <Ammo aka Ammo>, <Stormtrooper aka Stormtrooper>, <Leech aka Leech>, <Darkside aka Darkside>, <Titan aka Titan>, <Black Abbott aka Black Abbott>, <Anti-Monitor aka Anti-Monitor>, <Darth Maul aka Darth Maul>, <Black Goliath aka Black Goliath>, <Michelangelo aka Michelangelo>, <Lady Bullseye aka Lady Bullseye>, <Allan Quatermain aka Allan Quatermain>, <Stardust aka Stardust>, <Mephisto aka Mephisto>, <Cy-Gor aka Cy-Gor>, <Amazo aka Amazo>, <Maxima aka Maxima>])

In [97]:
session.commit()

In [98]:
q = session.query(Hero).filter(Hero.identity == None)
q.all()

[]

In [99]:
new_hero = Hero(id=3000, name='New hero', identity='A new hero')
new_hero

In [100]:
session.add(new_hero)

In [101]:
session.new

IdentitySet([<New hero aka A new hero>])

In [102]:
session.commit()

In [103]:
[h for h in session.query(Hero).filter(Hero.name.startswith('New'))]

In [104]:
session.delete(new_hero)

In [105]:
session.commit()

In [106]:
[h for h in session.query(Hero).filter(Hero.name.startswith('New'))]

[]

In [107]:
q = session.query(Hero).filter(Hero.identity == None)
q.all()

[]